.communalPrompts {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

    .promptDisplay {
        width: 100%;
        margin: 0 0 .5rem 0;

        .quoteIcons {
            font-size: .75rem;
        }

        .quoteLeft {
            margin: 0 .25rem 0 0;
        }

        .quoteRight {
            margin: 0 0 0 .25rem;
        }

        p {
            display: flex;
            justify-content: center;
        }

        .currentPrompt {
            font-family: $headingFont;
            font-size: 1.75rem;
        }
        
    }

    .contributeButton {
        font-size: .75rem;
        background: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all .5s;
    
        &:hover,
        &:focus {
            background-color: black;
            color: white;
        }
    
    }

}

.contributePrompts {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 50%;

    .invalidPrompt {
        font-size: .75rem;
    }

    .contributeInstructions {
        font-size: .75rem;
    }

    .submitPrompt {
        font-size: .75rem;
        border: none;
        border-bottom: 1px solid black;
    }

    .submitButton {
        @include genericButtons;
    }

}