.countdownTimer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 50%;
    position: relative;

    .timerInterface {
        display: flex;
        justify-content: space-evenly;
        width: 5.2rem;

        .playbackButtons {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;

            .countingNull,
            .countingTrue,
            .countingFalse {
                display: flex;
                justify-content: space-evenly;
                width: 100%;
            }

        }

        .startButton,
        .stopButton,
        .resumeButton,
        .resetButton {
            @include genericButtons;
        }
       
    }

    .timerDisplay {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        position: relative;

        .currentTime {
            
            p {
                font-size: 2rem;
            }

        }

        button {
            font-size: .7rem;
            background: none;
            border: none;
            cursor: pointer;
        }

        .incrementTime,
        .increaseTime,
        .decrementTime,
        .decreaseTime {
            display: flex;
            position: relative;
            justify-content: space-evenly;
            width: 5.2rem;

            .adjustmentButton {
                position: relative;
                left: .15rem;
                margin: 0 .75rem;
            }

        }

        .increaseTransition {
            transition: all .5s;

            &:hover,
            &:focus {
                transform: translateY(-.15rem);
            }

        }

        .incrementTransition {
            transition: all .5s;

            &:hover,
            &:focus {
                transform: translateY(-.15rem);
            }

        }

        .decreaseTransition {
            transition: all .5s;

            &:hover,
            &:focus {
                transform: translateY(.15rem);
            }

        }

        .decrementTransition {
            transition: all .5s;

            &:hover,
            &:focus {
                transform: translateY(.15rem);
            }

        }

        .increaseTime {
            top: .75rem;
        }

        .incrementTime {
            top: .35rem;
        }

        .decreaseTime {
            bottom: .65rem;
        }

        .decrementTime {
            bottom: .25rem;
        }

    }

}