.featuresSection {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .primaryInteraction {
        display: flex;
        position: relative;
        justify-content: flex-end;
        width: 100%;
    }

}