.featuresSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .communalPrompts {
        display: flex;
    }

    .countdownTimer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 25%;
        position: relative;

        .timerInterface {
            display: flex;

            .playbackButtons {
                display: flex;
                align-items: center;
            }
           
        }

        .timerDisplay {
            position: relative;

            button {
                font-size: .7rem;
                background-color: rgba(255, 255, 255, 0);
                border: none;
                cursor: pointer;
                margin-right: .12rem;
            }

            .increaseTime {
                display: flex;
                position: relative;
                top: .25rem;
            }

            .decreaseTime {
                display: flex;
                position: relative;
            }

        }

    }

}