// Utility Styling
body, 
h1, 
h2, 
h3, 
ul, 
li, 
p, 
a { 
    margin: 0; 
    padding: 0; 
}

ul { 
    list-style: none; 
}

a { 
    color: inherit; 
    text-decoration: none; 
}

img { 
    max-width: 100%; 
}

html { 
    font-size: 125%; 
}

.wrapper { 
    width: 90%; 
    max-width: 1280px; 
    margin: 0 auto; 
}

// General Styles
main {
    min-height: 80vh;
}

footer {
    height: 7vh;
}

h1,
h2,
h3,
h4 {
    font-family: $headingFont;
}

a,
p,
button,
input,
textarea {
    font-family: $bodyFont;
}

// Animation Classes
.fadeIn {
    animation: fadeIn 1s cubic-bezier(.25, .1, .25, 1);
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0rem);
        opacity: 1;
    }

}

.fadeOut {
    animation: fadeOut 1s cubic-bezier(.25, .1, .25, 1);
    animation-fill-mode: forwards;

}

@keyframes fadeOut {
    
    0% {
        transform: translateY(0rem);
        opacity: 1;
    }

    100% {
        transform: translateY(1rem);
        opacity: 0;
    }

}

.focusActive {
    animation: focusActive 1s cubic-bezier(.25, .1, .25, 1);
    animation-fill-mode: forwards;
}

@keyframes focusActive {

    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}

// Code Debugging
// * {
//     border: 1px solid red;
// }