header {

    .brandLogo {
        display: flex;
        transition: all .5s;

        &:hover {
            color: $primaryColour;
        }

    }

    .brandIcon {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .iconContent {
            font-size: 1.75rem;
        }

        .iconNegative {
            position: absolute;
            bottom: .65rem;
            color: white;
            font-size: .8rem;
        }

    }

    .headerMenu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        // &::after {
        //     content: "";
        //     border-bottom: 1px solid black;
        //     margin: .5rem 0 0 0;
        //     width: 100%;
        // }

        .menuAuthentication {
            display: flex;
            width: 50%;

            .userOptions {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 100%;
            }

            .userAuthentication {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 100%;
            }

            .currentUser {
                display: flex;
            }

            .displayName,
            .loginButton,
            .loadingName {
                margin-right: 1rem;
                font-size: .8rem;
            }

            .logoutButton,
            .registerLink {
                font-size: .8rem;
            }

            .loginButton,
            .logoutButton {
                background: none;
                border: none;
                cursor: pointer;
            }

        }

    }

    .displayToggle {
        display: flex;
        justify-content: flex-end;
    }
    
}