.loadingSection {

    .loadingDescription {
        display: flex;
        flex-wrap: wrap;

        h2 {
            text-align: center;
            width: 100%;
        }
        
        P {
            font-size: .75rem;
            text-align: center;
            width: 100%;
            margin: 0 0 1rem 0;
        }

    }

    .articleOptions {
        display: flex;
        justify-content: space-between;

        .articleCounter {
            font-size: .75rem;

            span {
                font-weight: 600;
            }

        }
        
        .deleteArticles {
            @include genericButton();
            padding: .5rem 1rem;
        }

    }

    .articleList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: .5rem;
        width: 100%;

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            border: 1px solid black;
            border-radius: 5px;
            position: relative;
            margin: .5rem;
            padding: .5rem;
            width: calc((100% / 5) - 1rem);
            max-width: 10rem;
            height: 5rem;
            transition: all .5s;

            &:hover,
            &:focus-within {
                background-color: black;
                color: white;
            }

            span {
                height: 100%;
                width: 100%;
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
            }

        }
        
        .deleteArticle {
            font-size: .75rem;
            background: none;
            position: absolute;
            top: -.1rem;
            right: -.05rem;
            cursor: pointer;
            transition: all .5s;

            &:hover,
            &:focus {
                transform: rotateZ(180deg);
            }

        }

        .emptyMessage {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 50vh;
            
            p {
                font-size: .75rem;
            }

        }

    }

}
