.displayToggle {
    display: flex;
    justify-content: flex-end;

    .loginModal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);

        .authenticationForm {
            z-index: 100;
        }

        .windowInteraction {
            display: flex;
            justify-content: flex-end;
        }

        form {
            display: flex;
            flex-direction: column;
        }

    }

}
