.authenticationSection {
    height: 80vh;

    .authenticationContent {
        position: relative;
        top: 5rem;
    }

    .authenticationDescription {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    
        h2 {
            text-align: center;
            width: 100%;
        }
        
        P {
            font-size: .75rem;
            text-align: center;
            width: 100%;
            margin: 0 0 1rem 0;
        }    
    
    }

}

.authenticationForm {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .25rem;
    width: 40%;
    height: 30vh;
    margin: 0 auto;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75%;
        position: relative;

        input {
            font-size: .75rem;
            margin: 1rem 0;
            border: none;
            border-bottom: 1px solid black;
            width: 100%;
        }

        .invalidEmail,
        .invalidPassword {
            font-size: .75rem;
            width: 100%;
        }

        .invalidPassword {
            position: absolute;
            top: 3rem;
        }

        .displayError {
            outline: none;
        }

        button {
            @include genericButton;
            padding: .5rem 1rem;
        }

    }

}
