/* Portrait tablet and small desktops */
@media (max-width: 940px) {

    .primaryMenu {       

        .mainNavigation {
        
            li {
                max-width: 100%;
            }
       
        }

    }

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

    .primaryMenu {
        flex-direction: column;
        align-items: flex-start;
        position: fixed; 
        left: -15rem;
        top: 0;
        margin: 0;  
        height: 100%;
        width: 47.5%;
        min-width: 15rem;
        max-width: 15rem;
        z-index: 100;

        .homeLink {
            display: flex;
            justify-content: flex-start;
            width: 100%;

            .brandLogo {
                width: 100%;
            }

            h1 {
                width: 100%;
            }

        }

        .mainNavigation {
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            margin: 0;
            padding: 0;

            li {
                width: 100%;
            }

            .individualLinks {
                display: flex;
                align-items: center;
                height: 3rem;
            }

            li:nth-child(2),
            li:nth-child(3) {
                margin: 0;
            }

        }

    }

    .navigationActive {
        left: 0;
    }

    .menuAuthentication {
        width: 52.5%;
    }

    header {

        .headerMenu {
    
            .menuContainer {
                position: relative;
                visibility: visible;
    
            }
    
        }

    }

    .productDescription {

        .descriptionContent {
            display: flex;
            flex-direction: column;
            padding: .5rem 0 0 0;

            p {
                width: 100%;
                margin: 0;
                padding: 0;
            }

            p:nth-child(1) {
                padding: 0 0 .5rem 0;
            }

        }

    }

    .productFeatures {

        .featuresList {

            li {
                width: calc((100% / 2) - 1rem);
            }

        }
        
    }

}

@media (max-width: 528px) {

    .loadingSection {

        .articleList {
            justify-content: center;
            padding: .5rem 0 0 0;

            li {
                width: calc((100% / 2) - 1rem);    
            }

        }

    }

}

/* Landscape phones and down */
@media (max-width: 480px) {

    .primaryMenu {
        width: 22.5%;
    }

    .menuAuthentication {
        width: 77.5%;
    }

    .productFeatures {

        .featuresList {

            li:nth-child(1) {
                margin: 1rem .5rem .5rem;
            }

            li {
                margin: .5rem;
                width: calc(100% - 1rem);
            }

        }
        
    }

}