.findMusic {

    .musicDescription {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 0 2rem 0;

        h2 {
            text-align: center;
            width: 100%;
        }
        
        P {
            font-size: .75rem;
            text-align: center;
            width: 100%;
        }

        .unresponsiveError {
            margin: 1rem 0;
        }
        
    }

    .apiLogin,
    .revealPlaylists {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 auto;

        button {
            @include genericButton;
            padding: .5rem 1rem;
        }

    }

    .playlistCollection {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;

        .userPlaylist {
            width: calc((100% / 4) - 1rem);
            max-width: 25%;
            min-width: 15rem;
            margin: .5rem;
            padding: .25rem;
            border-radius: 5px;

            span {
                display: flex;
                justify-content: space-between;
            }

            .playlistName,
            .playlistTracks {
                display: flex;
                justify-content: flex-start;
            }

            p {
                font-size: .75rem;
            }

        }

        .imageContainer {
            transition: all .5s;

            &:hover,
            &:focus-within {
                transform: translateY(-.5rem);
            }

        }

    }

}