.findMusic {

    .musicDescription {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        h2 {
            text-align: center;
            width: 100%;
        }
        
        P {
            font-size: .75rem;
            text-align: center;
            width: 100%;
            margin: 0 0 1rem 0;
        }
        
    }

    .apiLogin,
    .revealPlaylists {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 auto;

        button {
            @include genericButton;
            padding: .5rem 1rem;
        }

    }

    .playlistCollection {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        li {
            max-width: 25%;
            padding: .5rem;

            .playlistName,
            .playlistTracks {
                display: flex;
                justify-content: flex-start;
            }

            p {
                font-size: .75rem;
            }

        }

        .imageContainer {
            transition: all .5s;

            &:hover,
            &:focus-within {
                transform: translateY(-.5rem);
            }

        }

    }

}