.findMusic {

    p {
        display: flex;
        justify-content: center;
        font-size: .75rem;
    }

    .apiLogin,
    .playlistButton {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    

    .playlistCollection {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    
        li {
            max-width: 25%;
            padding: .5rem;
    
            .imageContainer {
            }
    
            p {
                font-size: .75rem;
            }
    
        }
    
    }

}
