.menuLinks {
    display: flex;
    width: 50%;

    nav {
        display: flex;
        width: 100%;
    }
    
    .mainNavigation {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }

    .individualLinks {
        font-size: .8rem;
        position: relative;
        transition: all .5s;

        @include linkHovers;

    } 
    
}