.menuLinks {
    display: flex;
    width: 50%;

    nav {
        display: flex;
        width: 100%;
    }
    
    .mainNavigation {
        display: flex;
        align-items: center;
        margin: 0 0 0 2.5rem;
        width: 100%;
        transition: none;
    }

    .visitorNavigation {
        display: flex;
        align-items: center;
        margin: 0 0 0 2.5rem;
        width: 100%;
        transition: none;
    }

    .individualLinks {
        font-size: .8rem;
        position: relative;
        transition: all .5s;
    } 

    li:nth-child(2),
    li:nth-child(3) {
        margin: 0 0 0 1rem;
    }
    
}