.userNotifications {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: calc(25% * .75);
    max-width: 10rem;
    height: calc(20% * .75);
    border-left: 1px solid black;

    p {
        font-size: .75rem;
    }

}