// Imports
@import url("https://use.typekit.net/rhu3qmo.css"); // Futura PT
@import url("https://use.typekit.net/rhu3qmo.css"); // Nimbus Roman

// Colours
$morningBackground: #DDFFBC;
$eveningBackground: #52734D;
$writingBackground: #FEFFDE;
$primaryColour: #91C788;

// Typography
$headingFont: 'nimbus-roman', serif;
$bodyFont: 'futura-pt', sans-serif;