.writingSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .writingSpace {
        width: 100%;

        form {
            width: 100%;

            textarea {
                min-height: 45vh;
                font-size: .75rem;
                width: 100%;
                padding: .5rem;
                border: 1px solid black;
                border-radius: .2rem;
                resize: none;
                z-index: 10;
            }

        }

    }

    .colourOverlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .inactivityWarning {
        position: absolute;
        width: 100%;
        z-index: 100;
        
        .warningModal {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 auto;
            width: 50%;

            p {
                text-align: center;
                width: 100%;
            }

        }

    }

    .saveWriting {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        background: none;
        bottom: 3%;
        left: 50%;
        transform: translateX(-50%);
        width: 25%;
    }

    .savingOptions {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        width: 100%;

        .closeWindow {
            display: flex;
            justify-content: flex-end;
            width: 100%;    
        }

        .closeIcon {
            font-size: .75rem;
            cursor: pointer;
            transition: all .5s;
        }

        .savingButtons {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .articleTitle {
            font-size: .75rem;
            width: 100%;
            background: none;
            border: none;
            border-bottom: 1px solid black;
        }

        button {
            font-size: .75rem;
            margin-top: .25rem;
            background: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: all .5s;

            &:hover,
            &:focus {
                background-color: black;
                color: white;
            }
        
        }

    }

}