.writingSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .writingSpace {
        width: 100%;

        form {
            width: 100%;    
        }

        textarea {
            min-height: 45vh;
            font-size: .75rem;
            width: 100%;
            padding: .5rem;
            resize: none;
        }

    }

    .inactivityWarning {
        position: absolute;
        width: 100%;
        z-index: 100;
        
        .warningModal {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
            margin: 0 auto;
            height: 10rem;

            p {
                font-size: .75rem;
                text-align: center;
                width: 100%;
                margin: 0 0 1rem 0;
            }

            button {
                max-width: 5rem;
                margin: 0 auto;
                padding: .5rem 1rem;
                @include genericButton();
            }

        }

    }

    .saveWriting {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        background: none;
        bottom: 3%;
        left: 50%;
        transform: translateX(-50%);
        width: 40%;
        min-width: 23rem;
        max-width: 23rem;
    }

    .savingOptions {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 100%;

        .closeWindow {
            display: flex;
            justify-content: flex-end;
            width: 100%;    
        }

        .closeIcon {
            font-size: .5rem;
            cursor: pointer;
            transition: all .5s;
            @include iconContainer();

            &:hover,
            &:focus {
                transform: rotateZ(180deg);
            }

        }

        .savingButtons {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .articleTitle {
            font-size: .75rem;
            width: 100%;
            background: none;
        }

        button {
            @include genericButton();
        }

    }

}