@import url("https://use.typekit.net/rhu3qmo.css");
@import url("https://use.typekit.net/rhu3qmo.css");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body,
h1,
h2,
h3,
ul,
li,
p,
a {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

html {
  font-size: 125%;
}

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

main {
  min-height: 80vh;
}

footer {
  height: 7vh;
}

h1,
h2,
h3,
h4 {
  font-family: "nimbus-roman", serif;
}

a,
p,
button,
input,
textarea {
  font-family: "futura-pt", sans-serif;
}

.fadeIn {
  -webkit-animation: fadeIn 1s cubic-bezier(0.25, 0.1, 0.25, 1);
          animation: fadeIn 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    opacity: 1;
  }
}
.fadeOut {
  -webkit-animation: fadeOut 1s cubic-bezier(0.25, 0.1, 0.25, 1);
          animation: fadeOut 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeOut {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    opacity: 0;
  }
}
.focusActive {
  -webkit-animation: focusActive 1s cubic-bezier(0.25, 0.1, 0.25, 1);
          animation: focusActive 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes focusActive {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes focusActive {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.morningDisplay {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: white;
}
.morningDisplay * {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.morningDisplay textarea:focus {
  outline: none;
  border-left: 1px solid black;
}

.eveningDisplay {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #272727;
}
.eveningDisplay * {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.eveningDisplay .brandLogo h1,
.eveningDisplay .brandLogo .iconContent {
  color: white;
}
.eveningDisplay .brandLogo .iconNegative {
  color: #272727;
}
.eveningDisplay .mainNavigation .individualLinks {
  color: #E6E6E6;
}
.eveningDisplay .userAuthentication .currentUser p,
.eveningDisplay .userAuthentication .currentUser .logoutRedirect {
  color: #E6E6E6;
}
.eveningDisplay .productDescription {
  color: white;
}
.eveningDisplay .productDescription .descriptionContent {
  color: #E6E6E6;
}
.eveningDisplay .productFeatures {
  color: #E6E6E6;
}
.eveningDisplay .productFeatures h3,
.eveningDisplay .productFeatures .featureIcon {
  color: white;
}
.eveningDisplay .promptDisplay p {
  color: white;
}
.eveningDisplay .countdownTimer .playbackButtons button {
  color: #E6E6E6;
}
.eveningDisplay .countdownTimer .increaseTime button,
.eveningDisplay .countdownTimer .incrementTime button,
.eveningDisplay .countdownTimer .decrementTime button,
.eveningDisplay .countdownTimer .decreaseTime button {
  color: #E6E6E6;
}
.eveningDisplay .countdownTimer .currentTime {
  color: white;
}
.eveningDisplay .writingSpace textarea {
  background-color: #272727;
  color: #E6E6E6;
}
.eveningDisplay .eventsSection .wordCount {
  color: #E6E6E6;
}
.eveningDisplay .musicSection .musicDescription h2 {
  color: white;
}
.eveningDisplay .musicSection .musicDescription p {
  color: #E6E6E6;
}
.eveningDisplay .musicSection .apiLogin button {
  color: #E6E6E6;
}
.eveningDisplay .loadingSection .loadingDescription h2 {
  color: white;
}
.eveningDisplay .loadingSection .loadingDescription p {
  color: #E6E6E6;
}
.eveningDisplay .loadingSection .articleOptions p,
.eveningDisplay .loadingSection .articleOptions button {
  color: #E6E6E6;
}

header .brandLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
header .brandLogo:hover {
  color: #23395B;
}
header .brandIcon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .brandIcon .iconContent {
  font-size: 1.75rem;
}
header .brandIcon .iconNegative {
  position: absolute;
  bottom: 0.65rem;
  color: white;
  font-size: 0.8rem;
}
header .headerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .headerMenu .menuAuthentication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}
header .headerMenu .menuAuthentication .userOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}
header .headerMenu .menuAuthentication .userAuthentication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}
header .headerMenu .menuAuthentication .currentUser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .headerMenu .menuAuthentication .userGreeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .headerMenu .menuAuthentication .welcomeMessage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
}
header .headerMenu .menuAuthentication .userPreferences {
  background: none;
  border: none;
  cursor: pointer;
}
header .headerMenu .menuAuthentication .displayName,
header .headerMenu .menuAuthentication .loginLink,
header .headerMenu .menuAuthentication .loadingName {
  font-size: 0.8rem;
}
header .headerMenu .menuAuthentication .loginLink {
  position: relative;
}
header .headerMenu .menuAuthentication .loginLink:hover, header .headerMenu .menuAuthentication .loginLink:focus {
  color: #23395B;
}
header .headerMenu .menuAuthentication .loginLink::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 1.05rem;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  border-bottom: 1px solid black;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
header .headerMenu .menuAuthentication .loginLink:hover::after, header .headerMenu .menuAuthentication .loginLink:focus-within::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-bottom: 1px solid #23395B;
}
header .headerMenu .menuAuthentication .logoutRedirect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .headerMenu .menuAuthentication .logoutRedirect:hover, header .headerMenu .menuAuthentication .logoutRedirect:focus {
  color: #23395B;
}
header .headerMenu .menuAuthentication .logoutRedirect::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 1.05rem;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  border-bottom: 1px solid black;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
header .headerMenu .menuAuthentication .logoutRedirect:hover::after, header .headerMenu .menuAuthentication .logoutRedirect:focus-within::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-bottom: 1px solid #23395B;
}
header .headerMenu .menuAuthentication .registerLink:hover, header .headerMenu .menuAuthentication .registerLink:focus {
  color: #23395B;
}
header .headerMenu .menuAuthentication .registerLink::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 1.05rem;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  border-bottom: 1px solid black;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
header .headerMenu .menuAuthentication .registerLink:hover::after, header .headerMenu .menuAuthentication .registerLink:focus-within::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-bottom: 1px solid #23395B;
}
header .headerMenu .menuAuthentication .logoutRedirect,
header .headerMenu .menuAuthentication .registerLink {
  font-size: 0.8rem;
  position: relative;
  margin-left: 1rem;
}
header .headerMenu .menuAuthentication .loginLink {
  background: none;
  border: none;
  cursor: pointer;
}
header .displayToggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menuLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}
.menuLinks nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.menuLinks .mainNavigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}
.menuLinks .individualLinks {
  font-size: 0.8rem;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.menuLinks .individualLinks:hover, .menuLinks .individualLinks:focus {
  color: #23395B;
}
.menuLinks .individualLinks::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 1.05rem;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  border-bottom: 1px solid black;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.menuLinks .individualLinks:hover::after, .menuLinks .individualLinks:focus-within::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-bottom: 1px solid #23395B;
}

.toggleLabel {
  position: relative;
  display: inline-block;
  width: calc(3rem * .5);
  height: calc(1.7rem * .5);
}
.toggleLabel input {
  opacity: 0;
  width: 0;
  height: 0;
}
.toggleLabel input:checked + .modeSlider {
  background-color: #E6E6E6;
}
.toggleLabel input:checked + .modeSlider::before {
  background-color: black;
  -webkit-transform: translateX(calc(1.3rem * .5));
          transform: translateX(calc(1.3rem * .5));
}
.toggleLabel input:focus + .modeSlider {
  -webkit-box-shadow: 0 0 calc(.05rem * .5) #E6E6E6;
          box-shadow: 0 0 calc(.05rem * .5) #E6E6E6;
}
.toggleLabel .modeSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #272727;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.toggleLabel .modeSlider::before {
  content: "";
  position: absolute;
  height: calc(1.3rem * .5);
  width: calc(1.3rem * .5);
  left: calc(.2rem * .5);
  bottom: calc(.2rem * .5);
  background-color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.productDescription .descriptionContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.productDescription .descriptionContent p {
  font-size: 0.75rem;
  width: 100%;
  margin: 0.5rem 0;
}

.productFeatures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60vh;
}
.productFeatures .featuresList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.productFeatures .featuresList li {
  width: calc((100% / 3) - 1rem);
  text-align: center;
  margin: 1rem 0.5rem;
  min-height: 5rem;
}
.productFeatures .featuresList li .featureIcon {
  font-size: 1.5rem;
}
.productFeatures .featuresList li p {
  font-size: 0.75rem;
  width: 100%;
  margin: 0 auto;
}

.featuresSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0 0 1rem 0;
}
.featuresSection .primaryInteraction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.communalPrompts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}
.communalPrompts .promptDisplay {
  width: 100%;
  margin: 0 0 0.5rem 0;
}
.communalPrompts .promptDisplay p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.communalPrompts .promptDisplay .currentPrompt {
  font-family: "nimbus-roman", serif;
  font-size: 1.75rem;
}
.communalPrompts .contributeButton {
  font-size: 0.75rem;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.communalPrompts .contributeButton:hover, .communalPrompts .contributeButton:focus {
  background-color: black;
  color: white;
}

.contributePrompts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}
.contributePrompts .contributeInstructions {
  font-size: 0.75rem;
}
.contributePrompts .submitPrompt {
  font-size: 0.75rem;
  border: none;
  border-bottom: 1px solid black;
}
.contributePrompts .submitButton {
  font-size: 0.75rem;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.contributePrompts .submitButton:hover, .contributePrompts .submitButton:focus {
  background-color: black;
  color: white;
}

.countdownTimer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  position: relative;
}
.countdownTimer .timerInterface {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 5.2rem;
}
.countdownTimer .timerInterface .playbackButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.countdownTimer .timerInterface .playbackButtons .countingNull,
.countdownTimer .timerInterface .playbackButtons .countingTrue,
.countdownTimer .timerInterface .playbackButtons .countingFalse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}
.countdownTimer .timerInterface .startButton,
.countdownTimer .timerInterface .stopButton,
.countdownTimer .timerInterface .resumeButton,
.countdownTimer .timerInterface .resetButton {
  font-size: 0.75rem;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.countdownTimer .timerInterface .startButton:hover, .countdownTimer .timerInterface .startButton:focus,
.countdownTimer .timerInterface .stopButton:hover,
.countdownTimer .timerInterface .stopButton:focus,
.countdownTimer .timerInterface .resumeButton:hover,
.countdownTimer .timerInterface .resumeButton:focus,
.countdownTimer .timerInterface .resetButton:hover,
.countdownTimer .timerInterface .resetButton:focus {
  background-color: black;
  color: white;
}
.countdownTimer .timerDisplay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  position: relative;
}
.countdownTimer .timerDisplay .currentTime p {
  font-size: 2rem;
}
.countdownTimer .timerDisplay button {
  font-size: 0.7rem;
  background: none;
  border: none;
  cursor: pointer;
}
.countdownTimer .timerDisplay .incrementTime,
.countdownTimer .timerDisplay .increaseTime,
.countdownTimer .timerDisplay .decrementTime,
.countdownTimer .timerDisplay .decreaseTime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 5.2rem;
}
.countdownTimer .timerDisplay .incrementTime .adjustmentButton,
.countdownTimer .timerDisplay .increaseTime .adjustmentButton,
.countdownTimer .timerDisplay .decrementTime .adjustmentButton,
.countdownTimer .timerDisplay .decreaseTime .adjustmentButton {
  position: relative;
  left: 0.15rem;
  margin: 0 0.75rem;
}
.countdownTimer .timerDisplay .increaseButton {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.countdownTimer .timerDisplay .increaseButton:hover, .countdownTimer .timerDisplay .increaseButton:focus {
  color: #23395B;
  -webkit-transform: translateY(-0.15rem);
          transform: translateY(-0.15rem);
}
.countdownTimer .timerDisplay .incrementButton {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.countdownTimer .timerDisplay .incrementButton:hover, .countdownTimer .timerDisplay .incrementButton:focus {
  color: #23395B;
  -webkit-transform: translateY(-0.15rem);
          transform: translateY(-0.15rem);
}
.countdownTimer .timerDisplay .decreaseButton {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.countdownTimer .timerDisplay .decreaseButton:hover, .countdownTimer .timerDisplay .decreaseButton:focus {
  color: #23395B;
  -webkit-transform: translateY(0.15rem);
          transform: translateY(0.15rem);
}
.countdownTimer .timerDisplay .decrementButton {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.countdownTimer .timerDisplay .decrementButton:hover, .countdownTimer .timerDisplay .decrementButton:focus {
  color: #23395B;
  -webkit-transform: translateY(0.15rem);
          transform: translateY(0.15rem);
}
.countdownTimer .timerDisplay .increaseTime {
  top: 0.75rem;
}
.countdownTimer .timerDisplay .incrementTime {
  top: 0.35rem;
}
.countdownTimer .timerDisplay .decreaseTime {
  bottom: 0.65rem;
}
.countdownTimer .timerDisplay .decrementTime {
  bottom: 0.25rem;
}

.writingSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.writingSection .writingSpace {
  width: 100%;
}
.writingSection .writingSpace form {
  width: 100%;
}
.writingSection .writingSpace textarea {
  min-height: 45vh;
  font-size: 0.75rem;
  width: 100%;
  padding: 0.5rem;
  border: none;
  resize: none;
}
.writingSection .writingSpace textarea:focus {
  outline: none;
  border-left: 1px solid black;
}
.writingSection .colourOverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.writingSection .inactivityWarning {
  position: absolute;
  width: 100%;
  z-index: 100;
}
.writingSection .inactivityWarning .warningModal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 50%;
}
.writingSection .inactivityWarning .warningModal p {
  text-align: center;
  width: 100%;
}
.writingSection .saveWriting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  background: none;
  bottom: 3%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 25%;
}
.writingSection .savingOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 100%;
}
.writingSection .savingOptions .closeWindow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}
.writingSection .savingOptions .closeIcon {
  font-size: 0.75rem;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.writingSection .savingOptions .savingButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.writingSection .savingOptions .articleTitle {
  font-size: 0.75rem;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid black;
}
.writingSection .savingOptions button {
  font-size: 0.75rem;
  margin-top: 0.25rem;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.writingSection .savingOptions button:hover, .writingSection .savingOptions button:focus {
  background-color: black;
  color: white;
}

.wordCount p {
  font-size: 0.75rem;
  margin: 0.1rem 0 0 0;
}

.userNotifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: calc(25% * .75);
  max-width: 10rem;
  height: calc(20% * .75);
  border-left: 1px solid black;
}
.userNotifications p {
  font-size: 0.75rem;
}

.findMusic .musicDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.findMusic .musicDescription h2 {
  text-align: center;
  width: 100%;
}
.findMusic .musicDescription P {
  font-size: 0.75rem;
  text-align: center;
  width: 100%;
  margin: 0 0 1rem 0;
}
.findMusic .apiLogin,
.findMusic .revealPlaylists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.findMusic .apiLogin button,
.findMusic .revealPlaylists button {
  font-size: 0.75rem;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 0.5rem 1rem;
}
.findMusic .apiLogin button:hover, .findMusic .apiLogin button:focus,
.findMusic .revealPlaylists button:hover,
.findMusic .revealPlaylists button:focus {
  background-color: black;
  color: white;
}
.findMusic .playlistCollection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.findMusic .playlistCollection li {
  max-width: 25%;
  padding: 0.5rem;
}
.findMusic .playlistCollection li .playlistName,
.findMusic .playlistCollection li .playlistTracks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.findMusic .playlistCollection li p {
  font-size: 0.75rem;
}
.findMusic .playlistCollection .imageContainer {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.findMusic .playlistCollection .imageContainer:hover, .findMusic .playlistCollection .imageContainer:focus-within {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.loadingSection .loadingDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.loadingSection .loadingDescription h2 {
  text-align: center;
  width: 100%;
}
.loadingSection .loadingDescription P {
  font-size: 0.75rem;
  text-align: center;
  width: 100%;
  margin: 0 0 1rem 0;
}
.loadingSection .articleOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.loadingSection .articleOptions .articleCounter {
  font-size: 0.75rem;
}
.loadingSection .articleOptions .articleCounter span {
  color: #23395B;
  font-weight: 600;
}
.loadingSection .articleOptions .deleteArticles {
  font-size: 0.75rem;
  background: none;
  border: none;
  cursor: pointer;
}
.loadingSection .articleList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem;
  width: 100%;
}
.loadingSection .articleList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
  margin: 0.5rem;
  width: calc((100% / 5) - 1rem);
  height: 5rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.loadingSection .articleList li:hover, .loadingSection .articleList li:focus-within {
  background-color: black;
  color: white;
}
.loadingSection .articleList li span {
  height: 100%;
  width: 100%;
}
.loadingSection .articleList li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
.loadingSection .articleList .deleteArticle {
  font-size: 0.75rem;
  background: none;
  position: absolute;
  top: -0.1rem;
  right: -0.05rem;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.loadingSection .articleList .deleteArticle:hover, .loadingSection .articleList .deleteArticle:focus {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.authenticationSection {
  height: 80vh;
}
.authenticationSection .authenticationContent {
  position: relative;
  top: 5rem;
}
.authenticationSection .authenticationDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.authenticationSection .authenticationDescription h2 {
  text-align: center;
  width: 100%;
}
.authenticationSection .authenticationDescription P {
  font-size: 0.75rem;
  text-align: center;
  width: 100%;
  margin: 0 0 1rem 0;
}

.authenticationForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.25rem;
  width: 40%;
  height: 30vh;
  margin: 0 auto;
}
.authenticationForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
}
.authenticationForm form input {
  font-size: 0.75rem;
  margin: 1rem 0;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
}
.authenticationForm form button {
  font-size: 0.75rem;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.authenticationForm form button:hover, .authenticationForm form button:focus {
  background-color: black;
  color: white;
}

.registrationSection {
  height: 80vh;
}
.registrationSection .registrationContent {
  position: relative;
  top: 5rem;
}
.registrationSection .registerationDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.registrationSection .registerationDescription h2 {
  text-align: center;
  width: 100%;
}
.registrationSection .registerationDescription P {
  font-size: 0.75rem;
  text-align: center;
  width: 100%;
  margin: 0 0 1rem 0;
}

.registrationForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.25rem;
  width: 40%;
  height: 30vh;
  margin: 0 auto;
}
.registrationForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
}
.registrationForm form input {
  font-size: 0.75rem;
  margin: 1rem 0;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
}
.registrationForm form button {
  font-size: 0.75rem;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.registrationForm form button:hover, .registrationForm form button:focus {
  background-color: black;
  color: white;
}

.errorPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.errorPage h3 {
  text-align: center;
  width: 100%;
}
.errorPage P {
  font-size: 0.75rem;
  text-align: center;
  width: 100%;
  margin: 0.5rem 0 0 0;
}
.errorPage P span {
  text-decoration: underline;
}