@import url("https://use.typekit.net/rhu3qmo.css");
@import url("https://use.typekit.net/rhu3qmo.css");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body,
h1,
h2,
h3,
ul,
li,
p,
a {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

html {
  font-size: 125%;
}

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

main {
  min-height: 80vh;
}

footer {
  height: 7vh;
}

h1,
h2,
h3,
h4 {
  font-family: "nimbus-roman", serif;
}

a,
p,
button,
input,
textarea {
  font-family: "futura-pt", sans-serif;
}

.fadeIn {
  -webkit-animation: fadeIn 1s cubic-bezier(0.25, 0.1, 0.25, 1);
          animation: fadeIn 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    opacity: 1;
  }
}
.fadeOut {
  -webkit-animation: fadeOut 1s cubic-bezier(0.25, 0.1, 0.25, 1);
          animation: fadeOut 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeOut {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    opacity: 0;
  }
}
header .brandLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
header .brandLogo:hover {
  color: black;
}
header .brandIcon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .brandIcon .iconContent {
  font-size: 1.75rem;
}
header .brandIcon .iconNegative {
  position: absolute;
  bottom: 0.65rem;
  color: white;
  font-size: 0.8rem;
}
header .headerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .headerMenu .menuAuthentication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}
header .headerMenu .menuAuthentication .userOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}
header .headerMenu .menuAuthentication .userAuthentication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}
header .headerMenu .menuAuthentication .currentUser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .headerMenu .menuAuthentication .displayName,
header .headerMenu .menuAuthentication .loginButton,
header .headerMenu .menuAuthentication .loadingName {
  margin-right: 1rem;
  font-size: 0.8rem;
}
header .headerMenu .menuAuthentication .logoutButton,
header .headerMenu .menuAuthentication .registerLink {
  font-size: 0.8rem;
}
header .headerMenu .menuAuthentication .loginButton,
header .headerMenu .menuAuthentication .logoutButton {
  background: none;
  border: none;
  cursor: pointer;
}
header .displayToggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menuLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}
.menuLinks nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.menuLinks .mainNavigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}
.menuLinks .individualLinks {
  font-size: 0.8rem;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.menuLinks .individualLinks:hover {
  color: black;
}
.menuLinks .individualLinks::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 1.05rem;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  border-bottom: 1px solid black;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.menuLinks .individualLinks:hover::after, .menuLinks .individualLinks:focus-within::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-bottom: 1px solid black;
}

.productDescription p {
  font-size: 0.75rem;
  width: 40%;
  margin: 0.5rem 0;
}

.productFeatures .featuresList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.productFeatures .featuresList li {
  width: calc(100% / 3);
  text-align: center;
  min-height: 5rem;
}
.productFeatures .featuresList li p {
  font-size: 0.75rem;
  width: 50%;
  margin: 0 auto;
}

.featuresSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0 0 1rem 0;
}
.featuresSection .primaryInteraction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.communalPrompts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}
.communalPrompts .promptDisplay {
  width: 100%;
  margin: 0 0 0.5rem 0;
}
.communalPrompts .promptDisplay p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.communalPrompts .promptDisplay .currentPrompt {
  font-family: "nimbus-roman", serif;
  font-size: 1.75rem;
}
.communalPrompts .contributeButton {
  font-size: 0.75rem;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.75rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.communalPrompts .contributeButton:hover, .communalPrompts .contributeButton:focus {
  background-color: black;
  color: white;
}

.contributePrompts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}
.contributePrompts .contributeInstructions {
  font-size: 0.75rem;
}
.contributePrompts .submitPrompt {
  font-size: 0.75rem;
  border: none;
  border-bottom: 1px solid black;
}
.contributePrompts .submitButton {
  font-size: 0.75rem;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.75rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.contributePrompts .submitButton:hover, .contributePrompts .submitButton:focus {
  background-color: black;
  color: white;
}

.countdownTimer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  position: relative;
}
.countdownTimer .timerInterface {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 5.2rem;
}
.countdownTimer .timerInterface .playbackButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.countdownTimer .timerInterface .playbackButtons .countingTrue,
.countdownTimer .timerInterface .playbackButtons .countingFalse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}
.countdownTimer .timerInterface .startButton,
.countdownTimer .timerInterface .stopButton,
.countdownTimer .timerInterface .resumeButton,
.countdownTimer .timerInterface .resetButton {
  font-size: 0.75rem;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.countdownTimer .timerInterface .startButton:hover, .countdownTimer .timerInterface .startButton:focus,
.countdownTimer .timerInterface .stopButton:hover,
.countdownTimer .timerInterface .stopButton:focus,
.countdownTimer .timerInterface .resumeButton:hover,
.countdownTimer .timerInterface .resumeButton:focus,
.countdownTimer .timerInterface .resetButton:hover,
.countdownTimer .timerInterface .resetButton:focus {
  background-color: black;
  color: white;
}
.countdownTimer .timerDisplay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  position: relative;
}
.countdownTimer .timerDisplay .currentTime p {
  font-size: 2rem;
}
.countdownTimer .timerDisplay button {
  font-size: 0.7rem;
  background: none;
  border: none;
  cursor: pointer;
}
.countdownTimer .timerDisplay .incrementTime,
.countdownTimer .timerDisplay .increaseTime,
.countdownTimer .timerDisplay .decrementTime,
.countdownTimer .timerDisplay .decreaseTime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 5.2rem;
}
.countdownTimer .timerDisplay .incrementTime .adjustmentButton,
.countdownTimer .timerDisplay .increaseTime .adjustmentButton,
.countdownTimer .timerDisplay .decrementTime .adjustmentButton,
.countdownTimer .timerDisplay .decreaseTime .adjustmentButton {
  position: relative;
  left: 0.15rem;
  margin: 0 0.75rem;
}
.countdownTimer .timerDisplay .increaseTransition {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.countdownTimer .timerDisplay .increaseTransition:hover, .countdownTimer .timerDisplay .increaseTransition:focus {
  -webkit-transform: translateY(-0.15rem);
          transform: translateY(-0.15rem);
}
.countdownTimer .timerDisplay .incrementTransition {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.countdownTimer .timerDisplay .incrementTransition:hover, .countdownTimer .timerDisplay .incrementTransition:focus {
  -webkit-transform: translateY(-0.15rem);
          transform: translateY(-0.15rem);
}
.countdownTimer .timerDisplay .decreaseTransition {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.countdownTimer .timerDisplay .decreaseTransition:hover, .countdownTimer .timerDisplay .decreaseTransition:focus {
  -webkit-transform: translateY(0.15rem);
          transform: translateY(0.15rem);
}
.countdownTimer .timerDisplay .decrementTransition {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.countdownTimer .timerDisplay .decrementTransition:hover, .countdownTimer .timerDisplay .decrementTransition:focus {
  -webkit-transform: translateY(0.15rem);
          transform: translateY(0.15rem);
}
.countdownTimer .timerDisplay .increaseTime {
  top: 0.75rem;
}
.countdownTimer .timerDisplay .incrementTime {
  top: 0.35rem;
}
.countdownTimer .timerDisplay .decreaseTime {
  bottom: 0.65rem;
}
.countdownTimer .timerDisplay .decrementTime {
  bottom: 0.25rem;
}

.writingSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.writingSection .writingSpace {
  width: 100%;
}
.writingSection .writingSpace form {
  width: 100%;
}
.writingSection .writingSpace form textarea {
  min-height: 45vh;
  font-size: 0.75rem;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 0.2rem;
  resize: none;
  z-index: 10;
}
.writingSection .colourOverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.writingSection .inactivityWarning {
  position: absolute;
  width: 100%;
  z-index: 100;
}
.writingSection .inactivityWarning .warningModal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 50%;
}
.writingSection .inactivityWarning .warningModal p {
  text-align: center;
  width: 100%;
}
.writingSection .saveWriting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  background: none;
  bottom: 3%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 25%;
}
.writingSection .savingOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 100%;
}
.writingSection .savingOptions .closeWindow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}
.writingSection .savingOptions .closeIcon {
  font-size: 0.75rem;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.writingSection .savingOptions .savingButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.writingSection .savingOptions .articleTitle {
  font-size: 0.75rem;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid black;
}
.writingSection .savingOptions button {
  font-size: 0.75rem;
  margin-top: 0.25rem;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.writingSection .savingOptions button:hover, .writingSection .savingOptions button:focus {
  background-color: black;
  color: white;
}

.findMusic .musicDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.findMusic .musicDescription h2 {
  text-align: center;
  width: 100%;
}
.findMusic .musicDescription P {
  font-size: 0.75rem;
  text-align: center;
  width: 100%;
  margin: 0 0 1rem 0;
}
.findMusic .apiLogin,
.findMusic .revealPlaylists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.findMusic .apiLogin button,
.findMusic .revealPlaylists button {
  font-size: 0.75rem;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.75rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.findMusic .apiLogin button:hover, .findMusic .apiLogin button:focus,
.findMusic .revealPlaylists button:hover,
.findMusic .revealPlaylists button:focus {
  background-color: black;
  color: white;
}
.findMusic .playlistCollection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.findMusic .playlistCollection li {
  max-width: 25%;
  padding: 0.5rem;
}
.findMusic .playlistCollection li .playlistName,
.findMusic .playlistCollection li .playlistTracks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.findMusic .playlistCollection li p {
  font-size: 0.75rem;
}

.loadingSection .loadingDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.loadingSection .loadingDescription h2 {
  text-align: center;
  width: 100%;
}
.loadingSection .loadingDescription P {
  font-size: 0.75rem;
  text-align: center;
  width: 100%;
  margin: 0 0 1rem 0;
}
.loadingSection .articleOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.loadingSection .articleOptions .articleCounter {
  font-size: 0.75rem;
}
.loadingSection .articleOptions .articleCounter span {
  color: black;
  font-weight: 600;
}
.loadingSection .articleOptions .deleteArticles {
  font-size: 0.75rem;
  background: none;
  border: none;
  cursor: pointer;
}
.loadingSection .articleList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem;
  width: 100%;
}
.loadingSection .articleList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
  margin: 0.5rem;
  width: calc((100% / 5) - 1rem);
  height: 5rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.loadingSection .articleList li:hover, .loadingSection .articleList li:focus-within {
  background-color: black;
  color: white;
}
.loadingSection .articleList li span {
  height: 100%;
  width: 100%;
}
.loadingSection .articleList li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
.loadingSection .articleList .deleteArticle {
  font-size: 0.75rem;
  background: none;
  position: absolute;
  top: -0.1rem;
  right: -0.05rem;
  cursor: pointer;
}

.registrationSection {
  height: 80vh;
}
.registrationSection .registrationContent {
  position: relative;
  top: 5rem;
}
.registrationSection .registerationDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.registrationSection .registerationDescription h2 {
  text-align: center;
  width: 100%;
}
.registrationSection .registerationDescription P {
  font-size: 0.75rem;
  text-align: center;
  width: 100%;
  margin: 0 0 1rem 0;
}

.registrationForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.25rem;
  width: 40%;
  height: 30vh;
  margin: 0 auto;
}
.registrationForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.registrationForm form input {
  font-size: 0.75rem;
  margin: 1rem 0;
  border: none;
  border-bottom: 1px solid black;
}
.registrationForm form button {
  font-size: 0.75rem;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.75rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.registrationForm form button:hover, .registrationForm form button:focus {
  background-color: black;
  color: white;
}

.errorPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.errorPage h3 {
  text-align: center;
  width: 100%;
}
.errorPage P {
  font-size: 0.75rem;
  text-align: center;
  width: 100%;
  margin: 0.5rem 0 0 0;
}
.errorPage P span {
  text-decoration: underline;
}