@import url("https://use.typekit.net/rhu3qmo.css");
@import url("https://use.typekit.net/rhu3qmo.css");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body,
h1,
h2,
h3,
ul,
li,
p,
a {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

html {
  font-size: 125%;
}

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

* {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

main {
  min-height: 80vh;
}

footer {
  height: 7vh;
}

h1,
h2,
h3,
h4 {
  font-family: "nimbus-roman", serif;
}

a,
p,
button,
input,
textarea {
  font-family: "futura-pt", sans-serif;
}

.hiddenComponent {
  visibility: hidden;
  opacity: 0;
}

.reducedOpacity {
  opacity: 0.1;
}
.reducedOpacity:hover, .reducedOpacity:focus {
  opacity: 1;
}

.fadeIn {
  -webkit-animation: fadeIn 1s cubic-bezier(0.25, 0.1, 0.25, 1);
          animation: fadeIn 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    opacity: 1;
  }
}
.fadeOut {
  -webkit-animation: fadeOut 1s cubic-bezier(0.25, 0.1, 0.25, 1);
          animation: fadeOut 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeOut {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    opacity: 0;
  }
}
.focusActive {
  -webkit-animation: focusActive 1s cubic-bezier(0.25, 0.1, 0.25, 1);
          animation: focusActive 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes focusActive {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes focusActive {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.morningDisplay {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #FFFFFF;
}
.morningDisplay .brandLogo:hover, .morningDisplay .brandLogo:focus {
  color: #23395B;
}
.morningDisplay .brandLogo .iconNegative {
  color: #FFFFFF;
}
.morningDisplay .primaryMenu {
  background-color: #FFFFFF;
}
.morningDisplay .primaryMenu .individualLinks:hover, .morningDisplay .primaryMenu .individualLinks:focus {
  color: #23395B;
}
.morningDisplay .primaryMenu .individualLinks::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 1.05rem;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  border-bottom: 1px solid #000000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.morningDisplay .primaryMenu .individualLinks:hover::after, .morningDisplay .primaryMenu .individualLinks:focus-within::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-bottom: 1px solid #23395B;
}
.morningDisplay .navigationActive {
  border-right: 1px solid #000000;
}
.morningDisplay .menuAuthentication .loginLink:hover, .morningDisplay .menuAuthentication .loginLink:focus,
.morningDisplay .menuAuthentication .logoutRedirect:hover,
.morningDisplay .menuAuthentication .logoutRedirect:focus,
.morningDisplay .menuAuthentication .registerLink:hover,
.morningDisplay .menuAuthentication .registerLink:focus {
  color: #23395B;
}
.morningDisplay .menuAuthentication .loginLink::after,
.morningDisplay .menuAuthentication .logoutRedirect::after,
.morningDisplay .menuAuthentication .registerLink::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 1.05rem;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  border-bottom: 1px solid #000000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.morningDisplay .menuAuthentication .loginLink:hover::after, .morningDisplay .menuAuthentication .loginLink:focus-within::after,
.morningDisplay .menuAuthentication .logoutRedirect:hover::after,
.morningDisplay .menuAuthentication .logoutRedirect:focus-within::after,
.morningDisplay .menuAuthentication .registerLink:hover::after,
.morningDisplay .menuAuthentication .registerLink:focus-within::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-bottom: 1px solid #23395B;
}
.morningDisplay .accessPreferences:hover, .morningDisplay .accessPreferences:focus-within {
  color: #23395B;
}
.morningDisplay .preferenceOption:hover, .morningDisplay .preferenceOption:focus-within {
  background-color: #E6E6E6;
}
.morningDisplay .contributePrompts .invalidPrompt {
  font-size: 0.75rem;
  color: #D11124;
}
.morningDisplay .contributePrompts .displayError {
  border-bottom: 1px solid #F46675;
  outline: none;
}
.morningDisplay .contributePrompts .submitPrompt:hover, .morningDisplay .contributePrompts .submitPrompt:focus {
  outline: 1px solid #23395B;
}
.morningDisplay .countdownTimer .decreaseButton:hover, .morningDisplay .countdownTimer .decreaseButton:focus,
.morningDisplay .countdownTimer .decrementButton:hover,
.morningDisplay .countdownTimer .decrementButton:focus,
.morningDisplay .countdownTimer .increaseButton:hover,
.morningDisplay .countdownTimer .increaseButton:focus,
.morningDisplay .countdownTimer .incrementButton:hover,
.morningDisplay .countdownTimer .incrementButton:focus {
  color: #23395B;
}
.morningDisplay .countdownTimer .adjustmentButton:hover, .morningDisplay .countdownTimer .adjustmentButton:focus {
  color: #23395B;
}
.morningDisplay .writingSpace textarea {
  background-color: #FFFFFF;
  color: #000000;
  border: none;
}
.morningDisplay .writingSpace textarea:focus {
  border-left: 1px solid #000000;
  outline: none;
}
.morningDisplay .savingOptions .articleTitle {
  color: #000000;
  border: none;
  border-bottom: 1px solid #000000;
}
.morningDisplay .savingOptions .articleTitle:hover, .morningDisplay .savingOptions .articleTitle:focus {
  outline: 1px solid #23395B;
}
.morningDisplay .inactivityWarning {
  color: #E6E6E6;
}
.morningDisplay .inactivityWarning .warningModal {
  background-color: #FFFFFF;
  color: #000000;
  border-left: 1px solid #000000;
}
.morningDisplay .emptyMessage .emptyRedirect {
  position: relative;
}
.morningDisplay .emptyMessage .emptyRedirect:hover, .morningDisplay .emptyMessage .emptyRedirect:focus {
  color: #23395B;
}
.morningDisplay .emptyMessage .emptyRedirect::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 1.05rem;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  border-bottom: 1px solid #000000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.morningDisplay .emptyMessage .emptyRedirect:hover::after, .morningDisplay .emptyMessage .emptyRedirect:focus-within::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-bottom: 1px solid #23395B;
}
.morningDisplay .authenticationContent input:hover, .morningDisplay .authenticationContent input:focus,
.morningDisplay .registrationContent input:hover,
.morningDisplay .registrationContent input:focus {
  outline: 2px solid #23395B;
}
.morningDisplay .authenticationContent .invalidEmail,
.morningDisplay .authenticationContent .invalidPassword,
.morningDisplay .registrationContent .invalidEmail,
.morningDisplay .registrationContent .invalidPassword {
  color: #D11124;
}
.morningDisplay .authenticationContent .displayError,
.morningDisplay .registrationContent .displayError {
  border-bottom: 1px solid #D11124;
  outline: none;
}
.morningDisplay .findMusic .userPlaylist {
  background-color: #E6E6E6;
}
.morningDisplay .findMusic .unresponsiveError {
  color: #D11124;
}
.morningDisplay .errorPage .errorRedirect {
  position: relative;
}
.morningDisplay .errorPage .errorRedirect:hover, .morningDisplay .errorPage .errorRedirect:focus {
  color: #23395B;
}
.morningDisplay .errorPage .errorRedirect::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 1.05rem;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  border-bottom: 1px solid #000000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.morningDisplay .errorPage .errorRedirect:hover::after, .morningDisplay .errorPage .errorRedirect:focus-within::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-bottom: 1px solid #23395B;
}
.morningDisplay .userNotifications {
  background-color: #FFFFFF;
  border-left: 1px solid #000000;
}
.morningDisplay .userNotifications p {
  color: #000000;
}

.eveningDisplay {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #272727;
}
.eveningDisplay h2,
.eveningDisplay h3 {
  color: #FFFFFF;
}
.eveningDisplay a {
  color: #FFFFFF;
}
.eveningDisplay input::-webkit-input-placeholder, .eveningDisplay textarea::-webkit-input-placeholder {
  color: #FFFFFF;
}
.eveningDisplay input::-moz-placeholder, .eveningDisplay textarea::-moz-placeholder {
  color: #FFFFFF;
}
.eveningDisplay input:-ms-input-placeholder, .eveningDisplay textarea:-ms-input-placeholder {
  color: #FFFFFF;
}
.eveningDisplay input::-ms-input-placeholder, .eveningDisplay textarea::-ms-input-placeholder {
  color: #FFFFFF;
}
.eveningDisplay input::placeholder,
.eveningDisplay textarea::placeholder {
  color: #FFFFFF;
}
.eveningDisplay .brandLogo button {
  color: #FFFFFF;
}
.eveningDisplay .brandLogo .iconNegative {
  color: #272727;
}
.eveningDisplay .headerMenu .homeLink:hover, .eveningDisplay .headerMenu .homeLink:focus {
  color: #78CAD2;
}
.eveningDisplay .headerMenu .menuIcon {
  color: #FFFFFF;
}
.eveningDisplay .primaryMenu {
  background-color: #272727;
}
.eveningDisplay .primaryMenu .individualLinks {
  color: #E6E6E6;
}
.eveningDisplay .primaryMenu .individualLinks:hover, .eveningDisplay .primaryMenu .individualLinks:focus {
  color: #78CAD2;
}
.eveningDisplay .primaryMenu .individualLinks::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 1.05rem;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  border-bottom: 1px solid #E6E6E6;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.eveningDisplay .primaryMenu .individualLinks:hover::after, .eveningDisplay .primaryMenu .individualLinks:focus-within::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-bottom: 1px solid #78CAD2;
}
.eveningDisplay .navigationActive {
  border-right: 1px solid #FFFFFF;
}
.eveningDisplay .menuAuthentication .userGreeting {
  color: #E6E6E6;
}
.eveningDisplay .menuAuthentication .accessPreferences {
  color: #E6E6E6;
}
.eveningDisplay .menuAuthentication .accessPreferences:hover, .eveningDisplay .menuAuthentication .accessPreferences:focus {
  color: #78CAD2;
}
.eveningDisplay .menuAuthentication .loadingName {
  color: #E6E6E6;
}
.eveningDisplay .menuAuthentication .loginLink,
.eveningDisplay .menuAuthentication .logoutRedirect,
.eveningDisplay .menuAuthentication .registerLink {
  color: #E6E6E6;
}
.eveningDisplay .menuAuthentication .loginLink:hover, .eveningDisplay .menuAuthentication .loginLink:focus,
.eveningDisplay .menuAuthentication .logoutRedirect:hover,
.eveningDisplay .menuAuthentication .logoutRedirect:focus,
.eveningDisplay .menuAuthentication .registerLink:hover,
.eveningDisplay .menuAuthentication .registerLink:focus {
  color: #78CAD2;
}
.eveningDisplay .menuAuthentication .loginLink::after,
.eveningDisplay .menuAuthentication .logoutRedirect::after,
.eveningDisplay .menuAuthentication .registerLink::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 1.05rem;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  border-bottom: 1px solid #E6E6E6;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.eveningDisplay .menuAuthentication .loginLink:hover::after, .eveningDisplay .menuAuthentication .loginLink:focus-within::after,
.eveningDisplay .menuAuthentication .logoutRedirect:hover::after,
.eveningDisplay .menuAuthentication .logoutRedirect:focus-within::after,
.eveningDisplay .menuAuthentication .registerLink:hover::after,
.eveningDisplay .menuAuthentication .registerLink:focus-within::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-bottom: 1px solid #78CAD2;
}
.eveningDisplay .userPreferences {
  background-color: #272727;
  border-left: 1px solid #FFFFFF;
}
.eveningDisplay .userPreferences p {
  color: #E6E6E6;
}
.eveningDisplay .userPreferences .preferenceOption:hover, .eveningDisplay .userPreferences .preferenceOption:focus-within {
  background-color: #000000;
}
.eveningDisplay .userPreferences .preferenceOption .preferencesToggle,
.eveningDisplay .userPreferences .preferenceOption .sidebarIcon {
  color: #FFFFFF;
}
.eveningDisplay .productDescription p {
  color: #E6E6E6;
}
.eveningDisplay .productFeatures p {
  color: #E6E6E6;
}
.eveningDisplay .productFeatures .featureIcon {
  color: #FFFFFF;
}
.eveningDisplay .promptDisplay p {
  color: #FFFFFF;
}
.eveningDisplay .promptDisplay .randomPrompt .randomIcon {
  color: #FFFFFF;
}
.eveningDisplay .contributePrompts .invalidPrompt {
  font-size: 0.75rem;
  color: #F46675;
}
.eveningDisplay .contributePrompts .displayError {
  border-bottom: 1px solid #F46675;
  outline: none;
}
.eveningDisplay .contributePrompts .submitPrompt {
  background-color: #272727;
  color: #E6E6E6;
  border-bottom: 1px solid #FFFFFF;
}
.eveningDisplay .contributePrompts .submitPrompt:hover, .eveningDisplay .contributePrompts .submitPrompt:focus {
  outline: 1px solid #78CAD2;
}
.eveningDisplay .contributePrompts .submitButton {
  color: #E6E6E6;
}
.eveningDisplay .countdownTimer .playbackButtons button {
  color: #E6E6E6;
}
.eveningDisplay .countdownTimer .increaseTime button,
.eveningDisplay .countdownTimer .incrementTime button,
.eveningDisplay .countdownTimer .decrementTime button,
.eveningDisplay .countdownTimer .decreaseTime button {
  color: #E6E6E6;
}
.eveningDisplay .countdownTimer .adjustmentButton:hover, .eveningDisplay .countdownTimer .adjustmentButton:focus {
  color: #78CAD2;
}
.eveningDisplay .countdownTimer .currentTime {
  color: #FFFFFF;
}
.eveningDisplay .writingSpace textarea {
  background-color: #272727;
  color: #FFFFFF;
  border: none;
}
.eveningDisplay .writingSpace textarea:focus {
  outline: none;
  border-left: 1px solid #FFFFFF;
}
.eveningDisplay .savingOptions .exitButton:hover, .eveningDisplay .savingOptions .exitButton:focus {
  background-color: #272727;
  color: #E6E6E6;
}
.eveningDisplay .savingOptions .closeIcon {
  color: #FFFFFF;
}
.eveningDisplay .savingOptions .articleTitle {
  color: #E6E6E6;
  border: none;
  border-bottom: 1px solid #FFFFFF;
}
.eveningDisplay .savingOptions .articleTitle:hover, .eveningDisplay .savingOptions .articleTitle:focus {
  outline: 1px solid #78CAD2;
}
.eveningDisplay .savingOptions button {
  color: #E6E6E6;
}
.eveningDisplay .inactivityWarning .warningModal {
  background-color: #272727;
  color: #E6E6E6;
  border-left: 1px solid #FFFFFF;
}
.eveningDisplay .inactivityWarning .warningModal button {
  color: #E6E6E6;
}
.eveningDisplay .musicSection .musicDescription h2 {
  color: #FFFFFF;
}
.eveningDisplay .musicSection .musicDescription p {
  color: #E6E6E6;
}
.eveningDisplay .musicSection .unresponsiveError {
  color: #D11124;
}
.eveningDisplay .musicSection .userPlaylist {
  background-color: #000000;
}
.eveningDisplay .musicSection .userPlaylist p {
  color: #E6E6E6;
}
.eveningDisplay .musicSection .apiLogin button {
  color: #E6E6E6;
}
.eveningDisplay .loadingSection .loadingDescription h2 {
  color: #FFFFFF;
}
.eveningDisplay .loadingSection .loadingDescription p {
  color: #E6E6E6;
}
.eveningDisplay .loadingSection .articleOptions p,
.eveningDisplay .loadingSection .articleOptions button {
  color: #E6E6E6;
}
.eveningDisplay .loadingSection .articleList li {
  border: 1px solid #E6E6E6;
}
.eveningDisplay .loadingSection .articleList a {
  color: #E6E6E6;
}
.eveningDisplay .loadingSection .articleList .deleteArticle {
  color: #E6E6E6;
}
.eveningDisplay .loadingSection .emptyMessage p {
  color: #E6E6E6;
}
.eveningDisplay .loadingSection .emptyMessage .emptyRedirect {
  position: relative;
}
.eveningDisplay .loadingSection .emptyMessage .emptyRedirect:hover, .eveningDisplay .loadingSection .emptyMessage .emptyRedirect:focus {
  color: #78CAD2;
}
.eveningDisplay .loadingSection .emptyMessage .emptyRedirect::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 1.05rem;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  border-bottom: 1px solid #E6E6E6;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.eveningDisplay .loadingSection .emptyMessage .emptyRedirect:hover::after, .eveningDisplay .loadingSection .emptyMessage .emptyRedirect:focus-within::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-bottom: 1px solid #78CAD2;
}
.eveningDisplay .authenticationContent input,
.eveningDisplay .registrationContent input {
  background-color: #272727;
  color: #E6E6E6;
  border-bottom: 1px solid #FFFFFF;
}
.eveningDisplay .authenticationContent input:hover, .eveningDisplay .authenticationContent input:focus,
.eveningDisplay .registrationContent input:hover,
.eveningDisplay .registrationContent input:focus {
  outline: 2px solid #78CAD2;
}
.eveningDisplay .authenticationContent button,
.eveningDisplay .registrationContent button {
  color: #E6E6E6;
}
.eveningDisplay .authenticationContent .invalidEmail,
.eveningDisplay .authenticationContent .invalidPassword,
.eveningDisplay .registrationContent .invalidEmail,
.eveningDisplay .registrationContent .invalidPassword {
  color: #F46675;
}
.eveningDisplay .authenticationContent .displayError,
.eveningDisplay .registrationContent .displayError {
  border-bottom: 1px solid #F46675;
}
.eveningDisplay .authenticationDescription p,
.eveningDisplay .registerationDescription p {
  color: #E6E6E6;
}
.eveningDisplay .unresponsiveError {
  color: #F46675;
}
.eveningDisplay .errorPage .errorRedirect {
  position: relative;
}
.eveningDisplay .errorPage .errorRedirect:hover, .eveningDisplay .errorPage .errorRedirect:focus {
  color: #78CAD2;
}
.eveningDisplay .errorPage .errorRedirect::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 1.05rem;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  border-bottom: 1px solid #E6E6E6;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.eveningDisplay .errorPage .errorRedirect:hover::after, .eveningDisplay .errorPage .errorRedirect:focus-within::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-bottom: 1px solid #78CAD2;
}
.eveningDisplay .userNotifications {
  background-color: #272727;
  border-left: 1px solid #FFFFFF;
}
.eveningDisplay .userNotifications p {
  color: #E6E6E6;
}

header .brandLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
header .brandIcon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .brandIcon .iconContent {
  font-size: 1.75rem;
}
header .brandIcon .iconNegative {
  position: absolute;
  bottom: 0.65rem;
  font-size: 0.8rem;
}
header .headerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.9rem 0;
}

.menuContainer {
  position: absolute;
  visibility: hidden;
}
.menuContainer .menuButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  top: 0.15rem;
}
.menuContainer .menuButton:hover, .menuContainer .menuButton:focus {
  -webkit-transform: translateY(-0.15rem);
          transform: translateY(-0.15rem);
}

.primaryMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 67.5%;
}
.primaryMenu .mainNavigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 2rem;
  width: 100%;
  -webkit-transition: none;
  transition: none;
}
.primaryMenu .visitorNavigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 2.5rem;
  width: 55%;
  -webkit-transition: none;
  transition: none;
}
.primaryMenu .individualLinks {
  font-size: 0.8rem;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 100%;
}
.primaryMenu li:nth-child(2),
.primaryMenu li:nth-child(3) {
  margin: 0 0 0 1rem;
}

.menuAuthentication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32.5%;
}
.menuAuthentication .userOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}
.menuAuthentication .userOptions .loginLink {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}
.menuAuthentication .userAuthentication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}
.menuAuthentication .currentUser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menuAuthentication .currentUser .logoutRedirect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menuAuthentication .currentUser .userGreeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menuAuthentication .currentUser .userGreeting .welcomeMessage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
}
.menuAuthentication .accessPreferences {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
}
.menuAuthentication .accessPreferences .preferencesIcon {
  font-size: 0.5rem;
  position: absolute;
  right: -0.25rem;
  top: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.menuAuthentication .accessPreferences .preferencesIcon:hover, .menuAuthentication .accessPreferences .preferencesIcon:focus {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.menuAuthentication .displayName,
.menuAuthentication .loginLink,
.menuAuthentication .loadingName {
  font-size: 0.8rem;
}
.menuAuthentication .logoutRedirect,
.menuAuthentication .registerLink {
  font-size: 0.8rem;
  position: relative;
  margin-left: 1rem;
}

.userPreferences {
  position: fixed;
  background-color: white;
  top: 0;
  right: -15rem;
  width: 25%;
  min-width: 15rem;
  max-width: 15rem;
  height: 100%;
  z-index: 100;
  border-left: 1px solid black;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.preferencesActive {
  right: 0rem;
}

.preferencesList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.preferencesList .listButton {
  border: none;
  background: none;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.preferencesList .preferenceOption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
}
.preferencesList .preferenceOption .preferencesToggle {
  font-size: 1rem;
  margin-left: 0.5rem;
}
.preferencesList .preferenceOption .optionText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.75rem;
  width: 100%;
}
.preferencesList .preferenceOption .optionText .iconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: none;
  border: none;
  padding: 0;
}
.preferencesList .preferenceOption .sidebarIcon {
  margin-right: 0.5rem;
  font-size: 1rem;
}
.preferencesList .preferenceFeatures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.preferencesList .preferenceFeatures .featureContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 15rem;
}
.preferencesList .preferenceFeatures .wordCount {
  margin: 1rem;
}
.preferencesList .preferenceFeatures .wordCount p {
  font-size: 0.75rem;
}

.productDescription .descriptionContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.productDescription .descriptionContent p {
  font-size: 0.75rem;
  width: 50%;
  margin: 0.5rem 0;
  padding: 0 1rem 0 0;
}

.productFeatures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60vh;
}
.productFeatures .featuresList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.productFeatures .featuresList li {
  width: calc((100% / 3) - 1rem);
  text-align: center;
  margin: 1rem 0.5rem;
  min-height: 5rem;
}
.productFeatures .featuresList li .featureIcon {
  font-size: 1.5rem;
}
.productFeatures .featuresList li p {
  font-size: 0.75rem;
  width: 100%;
  margin: 0 auto;
}

.featuresSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0 0 1rem 0;
}
.featuresSection .primaryInteraction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.communalPrompts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}
.communalPrompts .promptDisplay {
  width: 100%;
  margin: 0 0 0.5rem 0;
}
.communalPrompts .promptDisplay .quoteIcons {
  font-size: 0.75rem;
}
.communalPrompts .promptDisplay .quoteLeft {
  margin: 0 0.25rem 0 0;
}
.communalPrompts .promptDisplay .quoteRight {
  margin: 0 0 0 0.25rem;
}
.communalPrompts .promptDisplay p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.communalPrompts .promptDisplay .currentPrompt {
  font-family: "nimbus-roman", serif;
  font-size: 1.75rem;
}
.communalPrompts .randomPrompt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem 0 0 0;
  position: relative;
  top: 0.15rem;
}
.communalPrompts .randomPrompt .randomButton {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: none;
  border: none;
  padding: 0;
}
.communalPrompts .randomPrompt .randomButton:hover, .communalPrompts .randomPrompt .randomButton:focus {
  -webkit-transform: translateY(-0.15rem);
          transform: translateY(-0.15rem);
}
.communalPrompts .randomPrompt .randomIcon:hover, .communalPrompts .randomPrompt .randomIcon:focus {
  opacity: 1;
}
.communalPrompts .contributeButton {
  font-size: 0.75rem;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.communalPrompts .contributeButton:hover, .communalPrompts .contributeButton:focus {
  background-color: black;
  color: white;
}

.contributePrompts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}
.contributePrompts .invalidPrompt {
  font-size: 0.75rem;
}
.contributePrompts .contributeInstructions {
  font-size: 0.75rem;
}
.contributePrompts .submitPrompt {
  font-size: 0.75rem;
  border: none;
  border-bottom: 1px solid black;
}
.contributePrompts .submitButton {
  font-size: 0.75rem;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.contributePrompts .submitButton:hover, .contributePrompts .submitButton:focus {
  background-color: black;
  color: white;
}

.countdownTimer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  position: relative;
}
.countdownTimer .timerInterface {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 5.2rem;
}
.countdownTimer .timerInterface .playbackButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.countdownTimer .timerInterface .playbackButtons .countingNull,
.countdownTimer .timerInterface .playbackButtons .countingTrue,
.countdownTimer .timerInterface .playbackButtons .countingFalse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}
.countdownTimer .timerInterface .startButton,
.countdownTimer .timerInterface .stopButton,
.countdownTimer .timerInterface .resumeButton,
.countdownTimer .timerInterface .resetButton {
  font-size: 0.75rem;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.countdownTimer .timerInterface .startButton:hover, .countdownTimer .timerInterface .startButton:focus,
.countdownTimer .timerInterface .stopButton:hover,
.countdownTimer .timerInterface .stopButton:focus,
.countdownTimer .timerInterface .resumeButton:hover,
.countdownTimer .timerInterface .resumeButton:focus,
.countdownTimer .timerInterface .resetButton:hover,
.countdownTimer .timerInterface .resetButton:focus {
  background-color: black;
  color: white;
}
.countdownTimer .timerDisplay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  position: relative;
}
.countdownTimer .timerDisplay .currentTime p {
  font-size: 2rem;
}
.countdownTimer .timerDisplay button {
  font-size: 0.7rem;
  background: none;
  border: none;
  cursor: pointer;
}
.countdownTimer .timerDisplay .incrementTime,
.countdownTimer .timerDisplay .increaseTime,
.countdownTimer .timerDisplay .decrementTime,
.countdownTimer .timerDisplay .decreaseTime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 5.2rem;
}
.countdownTimer .timerDisplay .incrementTime .adjustmentButton,
.countdownTimer .timerDisplay .increaseTime .adjustmentButton,
.countdownTimer .timerDisplay .decrementTime .adjustmentButton,
.countdownTimer .timerDisplay .decreaseTime .adjustmentButton {
  position: relative;
  left: 0.15rem;
  margin: 0 0.75rem;
}
.countdownTimer .timerDisplay .increaseTime {
  top: 0.75rem;
}
.countdownTimer .timerDisplay .incrementTime {
  top: 0.35rem;
}
.countdownTimer .timerDisplay .decreaseTime {
  bottom: 0.65rem;
}
.countdownTimer .timerDisplay .decrementTime {
  bottom: 0.25rem;
}

.writingSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.writingSection .writingSpace {
  width: 100%;
}
.writingSection .writingSpace form {
  width: 100%;
}
.writingSection .writingSpace textarea {
  min-height: 45vh;
  font-size: 0.75rem;
  width: 100%;
  padding: 0.5rem;
  resize: none;
}
.writingSection .inactivityWarning {
  position: absolute;
  width: 100%;
  z-index: 100;
}
.writingSection .inactivityWarning .warningModal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  margin: 0 auto;
  height: 10rem;
}
.writingSection .inactivityWarning .warningModal p {
  font-size: 0.75rem;
  text-align: center;
  width: 100%;
  margin: 0 0 1rem 0;
}
.writingSection .inactivityWarning .warningModal button {
  max-width: 5rem;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.writingSection .inactivityWarning .warningModal button:hover, .writingSection .inactivityWarning .warningModal button:focus {
  background-color: black;
  color: white;
}
.writingSection .saveWriting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  background: none;
  bottom: 3%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 40%;
  min-width: 23rem;
  max-width: 23rem;
}
.writingSection .savingOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
}
.writingSection .savingOptions .closeWindow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  left: 0.1rem;
  width: 100%;
}
.writingSection .savingOptions .exitButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: none;
  border: none;
  padding: 0;
}
.writingSection .savingOptions .closeIcon {
  font-size: 0.5rem;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.writingSection .savingOptions .closeIcon:hover, .writingSection .savingOptions .closeIcon:focus {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.writingSection .savingOptions .savingButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.writingSection .savingOptions .articleTitle {
  font-size: 0.75rem;
  width: 100%;
  background: none;
}
.writingSection .savingOptions .savingButtons button {
  font-size: 0.75rem;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.writingSection .savingOptions .savingButtons button:hover, .writingSection .savingOptions .savingButtons button:focus {
  background-color: black;
  color: white;
}

.userNotifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: calc(25% * .75);
  max-width: 10rem;
  height: calc(20% * .75);
}
.userNotifications p {
  font-size: 0.75rem;
}

.findMusic .musicDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.findMusic .musicDescription h2 {
  text-align: center;
  width: 100%;
}
.findMusic .musicDescription P {
  font-size: 0.75rem;
  text-align: center;
  width: 100%;
}
.findMusic .musicDescription .unresponsiveError {
  margin: 1rem 0;
}
.findMusic .apiLogin,
.findMusic .revealPlaylists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.findMusic .apiLogin button,
.findMusic .revealPlaylists button {
  font-size: 0.75rem;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 0.5rem 1rem;
}
.findMusic .apiLogin button:hover, .findMusic .apiLogin button:focus,
.findMusic .revealPlaylists button:hover,
.findMusic .revealPlaylists button:focus {
  background-color: black;
  color: white;
}
.findMusic .playlistCollection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}
.findMusic .playlistCollection .userPlaylist {
  width: calc((100% / 4) - 1rem);
  max-width: 25%;
  min-width: 15rem;
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 5px;
}
.findMusic .playlistCollection .userPlaylist span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.findMusic .playlistCollection .userPlaylist .playlistName,
.findMusic .playlistCollection .userPlaylist .playlistTracks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.findMusic .playlistCollection .userPlaylist p {
  font-size: 0.75rem;
}
.findMusic .playlistCollection .imageContainer {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.findMusic .playlistCollection .imageContainer:hover, .findMusic .playlistCollection .imageContainer:focus-within {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.loadingSection .loadingDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 2rem 0;
}
.loadingSection .loadingDescription h2 {
  text-align: center;
  width: 100%;
}
.loadingSection .loadingDescription P {
  font-size: 0.75rem;
  text-align: center;
  width: 100%;
  margin: 0 0 1rem 0;
}
.loadingSection .articleOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.loadingSection .articleOptions .articleCounter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 0.75rem;
  max-width: 100%;
}
.loadingSection .articleOptions .articleCounter .totalEntries {
  font-weight: 600;
  margin: 0 0.05rem;
}
.loadingSection .articleOptions .deleteArticles {
  font-size: 0.75rem;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 0.5rem 1rem;
}
.loadingSection .articleOptions .deleteArticles:hover, .loadingSection .articleOptions .deleteArticles:focus {
  background-color: black;
  color: white;
}
.loadingSection .articleList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0.5rem;
  width: 100%;
}
.loadingSection .articleList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
  margin: 0.5rem;
  padding: 0.5rem;
  width: calc((100% / 5) - 1rem);
  max-width: 10rem;
  min-width: 10rem;
  height: 5rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.loadingSection .articleList li:hover, .loadingSection .articleList li:focus-within {
  background-color: black;
  color: white;
}
.loadingSection .articleList li span {
  height: 100%;
  width: 100%;
}
.loadingSection .articleList li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
.loadingSection .articleList .deleteArticle {
  font-size: 0.75rem;
  background: none;
  position: absolute;
  top: -0.1rem;
  right: -0.05rem;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.loadingSection .articleList .deleteArticle:hover, .loadingSection .articleList .deleteArticle:focus {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.loadingSection .articleList .emptyMessage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50vh;
}
.loadingSection .articleList .emptyMessage p {
  font-size: 0.75rem;
}

.authenticationSection {
  height: 80vh;
}
.authenticationSection .authenticationContent {
  position: relative;
  top: 5rem;
}
.authenticationSection .authenticationDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.authenticationSection .authenticationDescription h2 {
  text-align: center;
  width: 100%;
}
.authenticationSection .authenticationDescription P {
  font-size: 0.75rem;
  text-align: center;
  width: 100%;
  margin: 0 0 1rem 0;
}

.authenticationForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.25rem;
  width: 40%;
  height: 30vh;
  margin: 0 auto;
}
.authenticationForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  position: relative;
}
.authenticationForm form input {
  font-size: 0.75rem;
  margin: 1rem 0;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
}
.authenticationForm form .invalidEmail,
.authenticationForm form .invalidPassword {
  font-size: 0.75rem;
  width: 100%;
}
.authenticationForm form .invalidPassword {
  position: absolute;
  top: 3rem;
}
.authenticationForm form .displayError {
  outline: none;
}
.authenticationForm form button {
  font-size: 0.75rem;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 0.5rem 1rem;
}
.authenticationForm form button:hover, .authenticationForm form button:focus {
  background-color: black;
  color: white;
}

.registrationSection {
  height: 80vh;
}
.registrationSection .registrationContent {
  position: relative;
  top: 5rem;
}
.registrationSection .registerationDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.registrationSection .registerationDescription h2 {
  text-align: center;
  width: 100%;
}
.registrationSection .registerationDescription P {
  font-size: 0.75rem;
  text-align: center;
  width: 100%;
  margin: 0 0 1rem 0;
}

.registrationForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.25rem;
  width: 40%;
  height: 30vh;
  margin: 0 auto;
}
.registrationForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  position: relative;
}
.registrationForm form input {
  font-size: 0.75rem;
  margin: 1rem 0;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
}
.registrationForm form button {
  font-size: 0.75rem;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 0.5rem 1rem;
}
.registrationForm form button:hover, .registrationForm form button:focus {
  background-color: black;
  color: white;
}
.registrationForm form .invalidEmail,
.registrationForm form .invalidPassword {
  font-size: 0.75rem;
  width: 100%;
}
.registrationForm form .invalidEmail {
  position: absolute;
  top: 3rem;
}
.registrationForm form .invalidPassword {
  position: absolute;
  top: 6rem;
}
.registrationForm form .displayError {
  outline: none;
}

.errorPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.errorPage h3 {
  text-align: center;
  width: 100%;
}
.errorPage P {
  font-size: 0.75rem;
  text-align: center;
  width: 100%;
  margin: 0.5rem 0 0 0;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .primaryMenu .mainNavigation li {
    max-width: 100%;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .primaryMenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: fixed;
    left: -15rem;
    top: 0;
    margin: 0;
    height: 100%;
    width: 47.5%;
    min-width: 15rem;
    max-width: 15rem;
    z-index: 100;
  }
  .primaryMenu .homeLink {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
  }
  .primaryMenu .homeLink .brandLogo {
    width: 100%;
  }
  .primaryMenu .homeLink h1 {
    width: 100%;
  }
  .primaryMenu .mainNavigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .primaryMenu .mainNavigation li {
    width: 100%;
  }
  .primaryMenu .mainNavigation .individualLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 3rem;
  }
  .primaryMenu .mainNavigation li:nth-child(2),
.primaryMenu .mainNavigation li:nth-child(3) {
    margin: 0;
  }

  .navigationActive {
    left: 0;
  }

  .menuAuthentication {
    width: 52.5%;
  }

  header .headerMenu .menuContainer {
    position: relative;
    visibility: visible;
  }

  .productDescription .descriptionContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0.5rem 0 0 0;
  }
  .productDescription .descriptionContent p {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .productDescription .descriptionContent p:nth-child(1) {
    padding: 0 0 0.5rem 0;
  }

  .productFeatures .featuresList li {
    width: calc((100% / 2) - 1rem);
  }
}
@media (max-width: 528px) {
  .loadingSection .articleList {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0.5rem 0 0 0;
  }
  .loadingSection .articleList li {
    width: calc((100% / 2) - 1rem);
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .primaryMenu {
    width: 22.5%;
  }

  .menuAuthentication {
    width: 77.5%;
  }

  .productFeatures .featuresList li:nth-child(1) {
    margin: 1rem 0.5rem 0.5rem;
  }
  .productFeatures .featuresList li {
    margin: 0.5rem;
    width: calc(100% - 1rem);
  }
}